@import url(stylesub.css);
@import url(media.css);  

html {
    height: 100%;
  }
  
  .Mybody {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #64b5fd;
  }
  
  #main-holder {
    width: 80%;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  #mypage-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #mypage-header{
    font-size: 3rem
  }

  #modify, #psw_modify{
    background-color: skyblue;
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
  }
